<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <h2>Ma Maison</h2>
      <p>Mise à jour : {{lastUpdate | async | date: 'dd/MM/yyyy' }}</p>
      <ul class="list-group">
        <app-appareil *ngFor="let stuff of stuffs"
        [stuffName]="stuff.name"
        [appareilStatus]="stuff.status"></app-appareil>
      </ul>
      <button class="btn btn-success mt-5"
      [disabled]="!isAuth"
      (click)="onAllumer()">Tout allumer</button>
    </div>
  </div>
</div>
